body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    background: hsl(216, 12%, 8%);
    justify-content: center;
}

.container {
    display: flexbox;
    background-color: hsl(213, 19%, 18%);
    padding: 15px;
    height: 270px;
    width: 260px;
    align-self: center;
    justify-content: center;
    border-radius: 2em;
}

.thankyou {
    position: relative;
    padding: 10px;
    margin: 0 40px;
    align-content: center;
    align-self: center;
}

.selection {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 45px;
    padding: 5px;
    background: hsl(213, 19%, 25%);
    border-radius: 20px;
    font-size: 12px;
    color: hsl(25, 97%, 60%);
}

h2 {
    color: hsl(0, 100%, 100%);
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
}

p {
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    text-align: center;
}

.attribution {
    text-decoration: none;
    margin-top: 45px;
    color: hsl(217, 12%, 73%);
    text-align: center;
}

.attribution a {
    color: hsl(217, 12%, 73%);
    cursor: pointer;
}